<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Facture</title>
    <style>
        .bod{
            border: 1px solid #c4c4c4;
            border-collapse: collapse;
        }

        .bon {
            border:1px solid #c4c4c4;
            border-top-color: white;
            border-collapse:collapse;
        }
        .bod2{
	        border:1px solid #c4c4c4;
            border-left-color: white;
            border-top-color: white;
            border-collapse: collapse;
        }
        .bode{
            border: none;
            border-collapse: collapse;
        }
        .font{
            font-size: 12px;
            color: #383737;
        }
        .pad{
            padding: 6px 6px 6px 6px;
        }
    </style>
</head>

<body>
  <div class="row">
        <span style=" width:100%;  ">
            <div style="height: 90%;">
                {# *********// Titre //******** #}
                <table style="width: 100%;">
                    <tbody>
                        <tr> 
                            <td style="text-align: left;  width: 100%; padding: 3px 1px;"> 
                               <p><img alt="entete" style="width: 100%;" src="{{asset('uploads/medias/societe/' ~ societe.entete.id ~ "." ~ societe.entete.extension )}}"></p> 
                            </td> 
                        </tr> 
                    </tbody>
                </table> 
                <div class="body-section">
                    <div style="margin-left: 10px;" class="row">
                        <table style="width: 100%;">
                            <tr style="margin-left: 10px;">  
                                <td style="text-align: right;" > 
                                   {{ " Aujourd'hui le, " ~  ( facture.dateFac | date("d-m-Y") )  }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; "  >
                                    <p class="sub-heading"> 
                                        <b style="text-decoration: underline; text-underline-offset: 5px; color: #383737;  ">FACTURE</b>
                                    </p>
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
                {# *********// Entête  //******** #}
                <div class="body-section">
                    <div style="margin-left: 10px;" class="row">
                        <table style="width: 100%;">
                            <tr style="margin-left: 10px;">
                                <td style="text-align: left; width: 45%; " >
                                    <p class="sub-heading font"> 
                                        <b style="color: #383737;">ACTEUR :</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <f style="padding-left: 10px;"> {{ facture.emetteur  }} </f>
                                    </p>
                                    <p class="sub-heading font"> 
                                        <b style="color: #383737;">FACTURE N° :</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ facture.refFact }}
                                    </p>
                                </td>
                                <td style="text-align: left; width: 5%; "></td> 
                               
                                    <td style="text-align: left; width: 45%;   ">
                                        <table style="width: 100%; ">
                                            <tbody>
                                                <tr>
                                                    <td style="margin-bottom: 10px"> 
                                                        <p class="sub-heading font"> 
                                                            <b>DESTINATAIRE :</b>&nbsp;&nbsp;&nbsp;&nbsp; {{ "Manager de projet" }}
                                                        </p>
                                                        {# {% if facture.acheteur.ifu is not null %} 
                                                            <p class="sub-heading font" style="margin: 5px 0px 0px 0px; ">
                                                               <b> IFU :</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{ facture.acheteur.ifu }}
                                                            </p>
                                                        {% endif %}  #}
                                                        <p class="sub-heading font" style="margin: 5px 0px 0px 0px;"> 
                                                            <b>TEL :</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ "XXXXXXXXXXX" }}
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>  
                                        </table> 
                                    </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <table style="width:100%;" class="bod">
                    <thead> 
                        <tr style="background-color: #EBF5FF;">
                            <th class="bod" style=" font-size: 12px; width:50%; padding: 0.5rem; color: #383737;"  >Designation</th>
                            <th class="bod" style=" font-size: 12px;  padding: 0.5rem;color: #383737;" >Qte</th>
                            <th class="bod" style=" font-size: 12px; padding: 0.5rem;color: #383737;" >Valeur</th>
                            <th class="bod" style=" font-size: 12px;  padding: 0.5rem;color: #383737;" >MT.TTC</th> 
                        </tr> 
                    </thead> 
                    <tbody> 
                        {% for c in facture.elementFactures  %}
                            <tr> 
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px; text-align:left;">{{ c.designation }}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;">{{c.qte| number_format(3, ',', ' ')? ("RSA") : c.qte| number_format(2, ',', ' ')}}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;">{{c.valeur| number_format(2, ',', ' ') ? ("RSA") : c.valeur| number_format(2, ',', ' ')}}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;">{{c.mntTotal == null ? ("RSA") : c.mntTotal| number_format(2, ',', ' ') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table  class="bod2" style="width:100%; ">
                    <tbody>
                        <tr style="border-top: none !important;">
                            <td style = "width: 60%;" rowspan="4"></td>
                            <td style = "width: 25%; color: #383737;" class="bon font"> 
                               <b>Montant Facture</b>
                            </td>
                            <td class="bon font" style="text-align: right;padding: 6px 6px 6px 6px;  width:15%; color: #383737;"> <b>{{facture.montantFac| number_format(2, ',', ' ')}} </b></td>
                        </tr>
                        
                    </tbody>
                </table>
                {# <table style="width:100%;" class="bon">
                    <tbody>
                        <tr>
                            <td style="width:35%;" class="bon" align="center">
                                <p><img width="75" height="75" alt="entete" src="{{ asset('cod.jpg') }}" ismap></p>
                            </td>
                            <td style="width:65%;" class="bon"> 
                                <table style="width:100%;" class="bode">
                                    <tbody>
                                        <tr> 
                                            <td align="center" style="width:100%;" class="font bode pad">
                                                <p style="">Code MECeF/DGI</p>
                                                <p style="margin-top: -10px;">GZPW-UUB3-63ES-BENV-7FEB-BYU5</p>
                                            </td>
                                        </tr>
                                        <tr> 
                                            <td class="bode">
                                                <table style="width: 100%;" class="bode">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:50%;" class="font bode pad">
                                                                <p style="margin-buttom: 5px;  padding: 6px 6px 6px 6px;">MECeF NIM:</p>
                                                                <p style=" margin-buttom: 5px; padding: 6px 6px 6px 6px;">MECeF Compteur:</p>
                                                                <p style=" margin-buttom: 5px; padding: 6px 6px 6px 6px;">MECeF Heure:</p>
                                                            </td>
                                                            <td style="width:50%;" align="right" class="font bode pad">
                                                                <p style="margin-buttom: 5px;padding: 6px 6px 6px 6px;">XXXXXXXXXXX</p>
                                                                <p style="margin-buttom: 5px; padding: 6px 6px 6px 6px;">XXXXXXXXXXX</p>
                                                                <p style="margin-buttom: 5px; padding: 6px 6px 6px 6px;">XXXXXXXXXXX</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </td>
                        </tr>
                    </tbody>
                </table> #}
                <div class="font" style="margin-top: 5px;"> <strong>Arrêtée  la présente facture à la somme de </strong> <em> {{" "~ valeur ~ " (" ~ facture.montantFac| number_format(2, ',', ' ') ~") francs CFA" }} <em> </div>
                
                <div style="margin-left: 10px; margin-right: 10px;">
                    <hr align="center" style=" height:2px;  color: yellow; margin: 20px 0px 10px 0px;border-width:2px; border: thick double #32a1ce;" >
                </div>
                <div class="body-section" >
                    <table style="margin-left: 20px;  width: 100%; margin-right: 20px;" >
                        <thead>
                        <tr>
                            
                        </tr>
                        </tbody>
                    </table>   
                </div>
                <br>
                <div style="margin-left: 30px;  width:100%; margin-right: 20px; ">
                    <p align="center">Merci</p>
                </div>
            </div>
        </span>
    </div>
</body>

</html>

