{% extends 'base.html.twig' %}

{% block title %}Personnel{% endblock %}

{% block body %}
    <h1>Personnel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personnel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personnel.nom }}</td>
            </tr>
            <tr>
                <th>Prenoms</th>
                <td>{{ personnel.prenoms }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ personnel.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personnel.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ personnel.adresse }}</td>
            </tr>
            <tr>
                <th>DateNais</th>
                <td>{{ personnel.dateNais ? personnel.dateNais|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ personnel.sexe }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ personnel.civilite }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ personnel.createdAt ? personnel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ personnel.updatedAt ? personnel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_personnel_index') }}">back to list</a>

    <a href="{{ path('app_personnel_edit', {'id': personnel.id}) }}">edit</a>

    {{ include('personnel/_delete_form.html.twig') }}
{% endblock %}
